/* Separated from the main CSS because non-markdown cheatsheets
 * like the HTML only use this and not the main style.
 */
h2, h3, h4, h5, h6 {
  /* To prevent an empty line on headings. This is too likely to happen on small screens,
   * and the user usually does not have a mouse to hover in that case.
   */ }
  @media (max-width: 500px) {
    h2 .header-link, h3 .header-link, h4 .header-link, h5 .header-link, h6 .header-link {
      display: none; } }
  h2 .header-link, h3 .header-link, h4 .header-link, h5 .header-link, h6 .header-link {
    opacity: 0;
    font-size: 0.8em; }
  h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
    opacity: 1; }
