body {
  background-color: #252525;
  margin: 0px;
  overflow-wrap: break-word;
  /* Section */ }
  body nav.navbar {
    background-color: black;
    border-width: 0;
    font-size: 1.3em;
    margin: 0;
    border-radius: 0; }
    body nav.navbar a.navbar-brand {
      font-size: 1.3em; }
    body nav.navbar div.container-fluid {
      margin: 0px auto;
      max-width: 965px;
      padding: 0px 15px;
      text-align: left; }
      @media (max-width: 965px) {
        body nav.navbar div.container-fluid {
          max-width: 800px; } }
      body nav.navbar div.container-fluid .navbar-toggle {
        border-color: #28F;
        background-color: black; }
        body nav.navbar div.container-fluid .navbar-toggle .icon-bar {
          background-color: #28F; }
        body nav.navbar div.container-fluid .navbar-toggle:hover {
          border-color: #28F;
          background-color: gray;
          border-color: black; }
          body nav.navbar div.container-fluid .navbar-toggle:hover .icon-bar {
            background-color: black; }
      body nav.navbar div.container-fluid ul.nav a {
        color: #28F; }
      body nav.navbar div.container-fluid ul.nav a:hover,
      body nav.navbar div.container-fluid a.navbar-brand:hover {
        background-color: gray;
        color: black; }
      body nav.navbar div.container-fluid ul.nav li.active a {
        background-color: gray;
        color: black; }
      body nav.navbar div.container-fluid a.navbar-brand {
        color: #AAA;
        font-weight: bold; }
  body .article-and-sidebar {
    margin: 0 auto;
    max-width: 965px; }
    @media (max-width: 965px) {
      body .article-and-sidebar {
        max-width: 800px; } }
    body .article-and-sidebar .content {
      background-color: white;
      border: 1px solid black;
      margin: 0 0 5px;
      max-width: 800px;
      padding: 5px 15px 10px;
      position: relative; }
      @media (max-width: 800px) {
        body .article-and-sidebar .content {
          border-left-width: 0;
          border-right-width: 0; } }
      body .article-and-sidebar .content #markdown-toc {
        font-weight: bold; }
      body .article-and-sidebar .content a:link {
        color: #28F; }
      body .article-and-sidebar .content a:visited {
        color: purple; }
      body .article-and-sidebar .content blockquote {
        font-size: 1.2em; }
      body .article-and-sidebar .content code {
        color: black; }
      body .article-and-sidebar .content h1, body .article-and-sidebar .content h2, body .article-and-sidebar .content h3, body .article-and-sidebar .content h4, body .article-and-sidebar .content h5, body .article-and-sidebar .content h6 {
        border-bottom: 1px solid black;
        margin-bottom: 0.25em 0;
        padding-bottom: 0.15em; }
      body .article-and-sidebar .content h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 0.5em;
        margin-top: 5px; }
      body .article-and-sidebar .content h2 {
        font-size: 2.8em; }
      body .article-and-sidebar .content h3 {
        font-size: 2.0em; }
      body .article-and-sidebar .content h4 {
        font-size: 1.4em; }
      body .article-and-sidebar .content h5 {
        font-size: 1em; }
      body .article-and-sidebar .content h6 {
        font-size: 0.8em; }
      body .article-and-sidebar .content p {
        /* Otherwise paragraphs after *nested* lists are too close. TODO why? */
        margin-top: 5px; }
      body .article-and-sidebar .content ul, body .article-and-sidebar .content ol {
        /*list-style-position:inside;*/
        margin-left: 14px;
        padding-left: 14px; }
      @media (max-width: 500px) {
        body .article-and-sidebar .content ul, body .article-and-sidebar .content ol {
          margin-left: 0; } }
      body .article-and-sidebar .content table {
        border-collapse: collapse;
        border: 1px solid black;
        margin-bottom: 15px;
        text-align: left; }
      body .article-and-sidebar .content table tr > :not(:last-child) {
        white-space: nowrap;
        width: 1px; }
      body .article-and-sidebar .content td, body .article-and-sidebar .content th {
        border: 1px solid black;
        padding: 2px 4px; }
      body .article-and-sidebar .content th {
        font-weight: bold; }
      body .article-and-sidebar .content pre {
        margin-left: 0px;
        white-space: pre; }
      body .article-and-sidebar .content aside {
        background-color: white;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        float: right;
        left: 100%;
        margin: 0px 5px;
        position: absolute;
        top: 0%;
        vertical-align: top;
        width: 160px; }
        body .article-and-sidebar .content aside > div:not(:last-child) {
          border-bottom: 1px solid black; }
        body .article-and-sidebar .content aside .nav {
          display: block;
          font-weight: bold;
          text-align: left;
          padding: 5px 0 5px 10px; }
        body .article-and-sidebar .content aside .nav > :first-child {
          font-size: 20px;
          margin-right: 2px;
          vertical-align: top; }
        body .article-and-sidebar .content aside a.nav {
          font-weight: bold; }
          body .article-and-sidebar .content aside a.nav:link, body .article-and-sidebar .content aside a.nav:visited {
            color: #28F; }
          body .article-and-sidebar .content aside a.nav i.fa-code-fork {
            color: black; }
          body .article-and-sidebar .content aside a.nav i.fa-ellipsis-h {
            color: black; }
          body .article-and-sidebar .content aside a.nav i.fa-envelope-o {
            color: black; }
          body .article-and-sidebar .content aside a.nav i.fa-exclamation-circle {
            color: red; }
          body .article-and-sidebar .content aside a.nav i.fa-github {
            color: black; }
          body .article-and-sidebar .content aside a.nav i.fa-key {
            color: DarkOrange; }
          body .article-and-sidebar .content aside a.nav i.fa-skype {
            color: green; }
          body .article-and-sidebar .content aside a.nav i.fa-stack-overflow {
            color: DarkOrange; }
          body .article-and-sidebar .content aside a.nav i.fa-twitter {
            color: #28F; }
          body .article-and-sidebar .content aside a.nav i.fa-weibo {
            color: black; }
          body .article-and-sidebar .content aside a.nav i.fa-youtube {
            color: red; }
        @media (max-width: 965px) {
          body .article-and-sidebar .content aside {
            display: none; } }
      body .article-and-sidebar .content main img {
        width: 512px;
        display: block;
        margin: 0 auto; }
  body footer {
    background-color: white;
    border: 1px solid black;
    margin: 0 0 5px;
    max-width: 800px;
    padding: 5px 15px 10px;
    position: relative;
    padding-top: 15px; }
    @media (max-width: 800px) {
      body footer {
        border-left-width: 0;
        border-right-width: 0; } }
  body .comments {
    background-color: white;
    border: 1px solid black;
    margin: 0 0 5px;
    max-width: 800px;
    padding: 5px 15px 10px;
    position: relative;
    border-bottom: none;
    margin-bottom: 0px; }
    @media (max-width: 800px) {
      body .comments {
        border-left-width: 0;
        border-right-width: 0; } }
    body .comments .title {
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 0.5em;
      margin-top: 5px; }
  body #sharethis {
    margin-bottom: 1em;
    /* Breaks with bootstrap without this: https://stackoverflow.com/questions/18165901/twitters-bootstrap-3-with-sharethis-widget*/ }
    @media (max-width: 500px) {
      body #sharethis .desktop {
        display: none; } }
    @media (min-width: 501px) {
      body #sharethis .mobile {
        display: none; } }
    body #sharethis > div, body #sharethis > iframe {
      height: 25px;
      display: inline-block;
      vertical-align: top; }
    body #sharethis span {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
  body .patches-table tr > :nth-child(1),
  body .patches-table tr > :nth-child(3) {
    text-align: center; }
  body #bugs-table tr > :nth-child(1) {
    text-align: center; }
  body #grading-table tr > :nth-child(1) {
    font-weight: bold;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px; }
  body #languages-table tr > :nth-child(1) {
    text-align: center; }
  body #other-tech-table tr > :nth-child(1) {
    text-align: center; }
  body #natural-languages-table tr > :nth-child(1) {
    text-align: center; }
